<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Video Tweet</display-name>
  <welcome-file-list>
    <welcome-file>Login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.vidtweet.login.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginSuccesful</display-name>
    <servlet-name>LoginSuccesful</servlet-name>
    <servlet-class>com.vidtweet.login.LoginSuccesful</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginSuccesful</servlet-name>
    <url-pattern>/LoginSuccesful</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FriendConversation</display-name>
    <servlet-name>FriendConversation</servlet-name>
    <servlet-class>com.vidtweet.login.FriendConversation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FriendConversation</servlet-name>
    <url-pattern>/FriendConversation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchUser</display-name>
    <servlet-name>SearchUser</servlet-name>
    <servlet-class>com.vidtweet.login.SearchUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchUser</servlet-name>
    <url-pattern>/SearchUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddUser</display-name>
    <servlet-name>AddUser</servlet-name>
    <servlet-class>com.vidtweet.login.AddUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUser</servlet-name>
    <url-pattern>/AddUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignUp</display-name>
    <servlet-name>SignUp</servlet-name>
    <servlet-class>com.vidtweet.login.SignUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUp</servlet-name>
    <url-pattern>/SignUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddGroup</display-name>
    <servlet-name>AddGroup</servlet-name>
    <servlet-class>com.vidtweet.login.AddGroup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddGroup</servlet-name>
    <url-pattern>/AddGroup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateGroup</display-name>
    <servlet-name>CreateGroup</servlet-name>
    <servlet-class>com.vidtweet.login.CreateGroup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateGroup</servlet-name>
    <url-pattern>/CreateGroup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadVideo</display-name>
    <servlet-name>UploadVideo</servlet-name>
    <servlet-class>com.vidtweet.login.UploadVideo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadVideo</servlet-name>
    <url-pattern>/UploadVideo</url-pattern>
  </servlet-mapping>
</web-app>